
@{
    ViewData["Title"] = "Login";
}

<nav class="navbar navbar-light navbar-expand-md navigation-clean-button shadow" style="background-color: rgb(235,119,119);">
    <div class="container">
        <a class="navbar-brand" id="logo" asp-controller="Home" asp-action="Index">LOVID-20</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav mr-auto shadow"></ul><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" id="sign" asp-controller="Home" asp-action="Index">Sign Up</a></span>
        </div>
    </div>
</nav>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 border-0">
                <div><img src="~/images/html.png" style="width: 400px;height: 800px;position: absolute;left: 50%;z-index: 1;top:-30%"></div>
            </div>
            <div class="col-md-6">
                @using (Html.BeginForm("Login", "Home"))
                {
                    <div style="text-align: center;">
                        <div><img src="~/images/AppLogo.png" style="margin: 50px; margin-left:5px;"></div>
                        <div><input type="text" id="usrNme" name="username" required="required" style="width: 317px;height:40px; margin: 20px;" placeholder="Username"></div>
                        <div><input type="password" id="pass" name="password" required="required" style="width: 317px; height:40px; margin: 10px;" placeholder="Password"></div>
                        <div><a id="forgot" asp-controller="Home" asp-action="ForgotPassword" style="padding: 10px;">Forgot password?</a></div>
                        <div><button class="btn btn-primary" id="logBtn" type="submit" style="margin: 10px;">Log In</button></div>
                    </div>
                }
                </div>
        </div>
    </div>
</div>

