
@{
    ViewData["Title"] = "Packages";
}

<nav class="navbar navbar-light navbar-expand-md shadow" style="background-color: rgb(235,119,119);">
    <div class="container-fluid">
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse text-right" id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item" role="presentation"></li>
            </ul><a asp-controller="Home" asp-action="Login"  style="color: rgb(36,62,153);">Login</a><a asp-controller="Home" asp-action="Index"  style="padding-left: 10px;color: rgb(36,62,153);">Sign Up</a>
        </div>
    </div>
</nav>
<img style="position: absolute;left: 20%;bottom: 30%;" src="~/images/free.png"><small style="font-size: 20px;position: absolute;left: 59%;bottom: 20%;"><strong>$15.99 / month</strong><br>Create group chats and message EVERYONE!</small><small style="font-size: 20px;position: absolute;left: 20%;bottom: 20%;">Sing up today and start<br>&nbsp;your <em>love&nbsp;</em>journey inside your computer&nbsp;</small>
<img style="width: 350px;position: absolute;z-index: 3;height: 170px;/*top: 0px;*/left: 37%;bottom: 65%;" src="~/images/AppLogo.png">
<img style="position: absolute;left: 55%;bottom: 38%;width: 300px;" src="~/images/vip.png"><a href="#" style="position: absolute;left: 44.5%;bottom: 7.3%;">Check out other user reviews</a><a href="#" style="position: absolute;left: 20%;bottom: 15.3%;font-size: 20px;">Click here to become a member</a>


