
@{
    ViewData["Title"] = "Reviews";
}
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
    </head>
    <body>
        <nav class="navbar navbar-light navbar-expand-md shadow" style="background-color: rgb(235,119,119);">
            <div class="container-fluid">
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse text-right" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation"></li>
                    </ul><a asp-controller="Home" asp-action="Index" style="color: rgb(36,62,153);position: relative;left: 0%;">Sign Up</a>
                    <a asp-controller="Home" asp-action="Login" style="color: rgb(36,62,153);position: relative;left: 1%;">Log in</a>
                </div>
            </div>
        </nav>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3"><img src="~/images/AppLogo.png" style="position: relative;height: 200px;width: 400px;bottom: -20%;left: -10%;"></div>
                </div>
            </div>
        </div>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="card" data-bs-hover-animate="pulse" style="position: relative;height: 550px;left: -25%;bottom: 20%;">
                            <div class="card-body">
                                <h4 class="card-title">Title</h4>
                                <h6 class="text-muted card-subtitle mb-2">Subtitle</h6>
                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                <h4 class="card-title">Title</h4>
                                <h6 class="text-muted card-subtitle mb-2">Subtitle</h6>
                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                <h4 class="card-title">Title</h4>
                                <h6 class="text-muted card-subtitle mb-2">Subtitle</h6>
                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </body>